/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

p,
a,
i,
h1,
h2,
strong,
small,
button {
	font-family: 'Poppins', sans-serif;
}

.satisfy-font {
	font-family: 'Satisfy', cursive;
}

.kalam-font {
	font-family: 'Kalam', cursive;
}

.rancho-font {
	font-family: 'Rancho', cursive;
}

/* Global class */
.container-section {
	@apply w-full mx-auto pb-6 md:w-8/12;
}
